/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- */


/* WHOLE PAGE */

header {
	overflow: hidden;
	background-color: #007BFF;
	padding: 20px 10px;
	border: 2px solid darkblue;
}

header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

header a:hover {
	background-color: darkblue;
	color: lightpink;
}

header a.active {
	background-color: dodgerblue;
	color: white;
}

.navBar {
	float: right;
}

.navBar a.active {
	background-color: darkblue;
	color: lightpink;
}

h1 a {
	font-size: 28px;
	color: darkblue;
}

h2 {
	font-size: 18px;
	color: darkblue;
	text-align: center;
	padding: 10px;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	gap: 100px;
	margin: 20px;
	padding: 40px;
}

.clockCard, .weatherCard, .linkCard, .passwordCard {
	border: 6px solid darkblue;
}

.weatherCard, .linkCard, .passwordCard {
	height: auto;
	width: 420px;
	padding: 20px;
	border-radius: 40px;
	background-color: #007BFF;
}

footer {
	overflow: hidden;
	background-color: #007BFF;
	padding: 20px 10px;
	border: 2px solid darkblue;
}

footer p {
	float: right;
	color: black;
	text-align: center;
	padding: 5px;
	font-size: 12px;
}

/* CLOCK WIDGET */
.clockCard {
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	width: 400px;
	color: blue;
	background-color: pink;
	border-radius: 300px;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
}

.clock {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	color: blue;
	background-color: goldenrod;
	width: 300px;
	height: 300px;
	border-radius: 300px;
	border: 6px solid darkblue;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-size: 3rem;
} 

.text {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: rotateText 60s linear infinite;
	white-space: no-wrap;
	letter-spacing: 1px;
}

@keyframes rotateText {
	0% {
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.text span {
	position: absolute;
	left: 50%;
	font-size: 2rem;
	transform-origin: 0 200px;
}

span {
	position: absolute;
	left: 50%;
	transform-origin: 0 150pc;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
}

/* WEATHER WIDGET */

.weatherCard {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	max-width: 500px;
	color: #fff;
	text-align: center;
};

.weatherSearch {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.weatherSearch input {
	border: 0;
	outline: 0;
	background: #ebfffc;
	color: #555;
	padding: 10px 25px;
	height: 30px;
	width: 200px;
	border-radius: 30px;
	flex: 1;
	margin-right: 16px;
	font-size: 18px;
}

.weatherSearch button {
	border: 0;
	outline: 0;
	background: #ebfffc;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.weatherSearch button img {
	width: 16px;
}

.weatherIcon {
	width: 170px;
	margin-top: 0px;
}

.weather img {
	width: 100px;
	margin: -10;
}

.weather h1 {
	font-size: 50px;
	font-weight: 500;
}

.weather h2 {
	font-size: 28px;
	font-weight: 400;
	margin-top: 10px;
}

.weather h4 {
	font-size: 15px;
	font-weight: 200;
	margin-top: 5px;
}

.details {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	margin-top: 10px;
}

.col {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 10px;
}

.col img {
	width: 30px;
	margin-right: 10px;
}

.humidity, .wind {
	font-size: 18px;
	margin-top: -6px;
}

.weather {
	display: none;
}

.hourlyWeather {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 10px;
	align-content: center;
	justify-content: space-between;
}

.hourlyWeather img {
	width: 50px;
}

.error {
	text-align: left;
	margin-left: 10px;
	font-size: 14px;
	margin-top: 10px;
	display: none;
}

/* LINKS WIDGET */

.linkCard {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	max-width: 500px;
	color: #fff;
	text-align: center;

}

.link-items {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
	gap: 10px;
}

#link-list {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 10px;
	margin-left: 20px;
  }

  #link-list button {
	border: 0;
	outline: 0;
	background: #ebfffc;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
	align-self: center;
	margin-right: 20px;
  }

.link-items input {
	border: 0;
	outline: 0;
	background: #ebfffc;
	color: #555;
	padding: 10px 25px;
	height: 30px;
	width: auto;
	border-radius: 30px;
	margin-right: 16px;
	margin: 10px;
	font-size: 18px;
	margin-left: 10px;
}

.link-items button {
	border: 0;
	outline: 0;
	background: #ebfffc;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	cursor: pointer;
	align-self: center;
	margin-right: 20px;
} 

/* PASSWORD WIDGET */
/* .passwordCard {
} */

.passwordCard {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	max-width: 500px;
	color: #fff;
	text-align: center;

}

.password-items {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	align-content: center;
	gap: 10px;
	margin-top: 20px;
}

.password-number {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.password-number input{
	border: 0;
	outline: 0;
	background: #ebfffc;
	color: #555;
	height: 80px;
	width: 80px;
	border-radius: 50px;
	margin-right: 16px;
	text-align: center;
	font-size: 18px;
}

.password-items button {
	border: 0;
	outline: 0;
	background: #ebfffc;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	cursor: pointer;
	align-self: center;
} 

.password-items .passwords input {
	border: 0;
	outline: 0;
	background: #ebfffc;
	color: #555;
	padding: 10px 25px;
	height: 30px;
	width: 300px;
	border-radius: 30px;
	font-size: 18px;
	margin-top: 20px;
}

#generateBtn:hover {
	background-color: #0056b3;
}
